:host {
	position: relative;
	display: table;
	height: 100%;
	width: 100%;
}

mat-sidenav-container {
	position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav[mode="side"] {
	width: 454px;
}

mat-form-field {
	width: 100%;
}

table {
	width: 100%;
}

.no-bg {
	background: none;
}